.form {
    display: flex;
    
    justify-content: center;
    
    flex-direction: column;
margin: 0rem 0rem 0rem 20rem;
}
.btn {
margin: 10px;
font-size: 15px;
/* width: 20%; */

}

.date{
  height: 2rem;
  padding-left: 5px;
  color: hsl(235, 19%, 35%);
    font-size: 20px;
    margin: 5px 0rem 5px ;
    width: 39%;
   
}
.title{
  
  height: 2rem;
  padding-left: 5px;
  color: hsl(235, 19%, 35%);
    font-size: 20px;
    margin: 5px 0rem 5px ;
    width: 45%;
  
}
.completed{
  width: 20%;
  height: 2rem;
  
}
label {
  color: hsl(235, 44%, 10%) ;
  margin-right: 10px;

  
}